<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>StockMe</title>
        <link href="/style/style.css" rel="stylesheet">
    </head>
    <body>
        <header>
            <h1>StockMe</h1>
        </header>
        <nav>
            <a href="/rangements">Rangements</a>
        </nav>
        <main>
            <h2>Accueil</h2>
            <p>Bienvenue sur votre application de gestion de stocks !<br>
               J'espère que vous passez une bonne journée !</p>
            <h3>Raccourcis produits</h3>
            <div class="liste_deroulante">
                <label for="choix_produits">Choisissez le produit :</label>
                <select name="produits" id="choix_produits">
                    <option value="">--S'il vous plait choisissez un produit--</option>
                <!--<option value="dog">Dog</option>
                    <option value="cat">Cat</option>
                    <option value="hamster">Hamster</option>
                    <option value="parrot">Parrot</option>
                    <option value="spider">Spider</option>
                    <option value="goldfish">Goldfish</option>-->
                </select>
            </div>
            <div class="button">
                <button type="submit">+</button>
                <button type="submit">-</button>
            </div>
        </main>
    </body>
</html>